*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.toc
*.pyg
*.fdb_latexmk
*.fls

build/*.aux
build/*.bbl
build/*.blg
build/*.log
build/*.out
build/*.gz
build/*.toc
build/*.pyg
build/*.fdb_latexmk
build/*.fls

_minted-main/